@use "../variables" as v;

.header {
  background:#fff; }

.header__inner { /*desktop/tablette*/
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link { display: inline-flex; align-items: center; }
.header__logo { height: 40px; display: block;}

.nav {
    display: flex;
    gap: 24px;
}

.nav__link {
  text-decoration: none;
  color:#111;
  line-height: 1;
  font-weight: 500;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  transition: border-color .2s ease;
}

.nav__link--active { border-bottom-color: #111; }

/*Tablette*/
@media (max-width: 768px) {
  .header__logo { height: 32px; }
  .nav { gap: 20px; }
}

/*mobile* environ 335px*/
@media (max-width: 480px) {
  .header__inner { height: 48px; }     /* hauteur maquette */
  .header__logo  { height: 28px; }     /* logo mobile */
  .nav           { gap: 16px; }
  .nav__link     { font-size: 14px; padding-bottom: 4px; }
}