@use "../variables" as v;

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;;
}

.header__inner {
    width: 100%;
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header__logo-link { display: inline-flex; align-items: center; }
.header__logo { height: 40px; display: block;}

.nav {
    display: flex;
    gap: 24px;
}

.nav__link {
    text-decoration: none;
    color: #111;
    padding: 6px 2px;
    border-bottom: 2px solid transparent; //pour éviter le "saut" quand on ajoute la bordure
    font-weight: 500;
}

.nav__link:hover { border-bottom-color: #ddd; }
.nav__link--active { border-bottom-color: #111; }

@media (max-width: 768px) {
    .header__inner { padding: 12px 16px; }
    .header__logo { height: 30px; }
    .nav { gap: 16px; }
}